<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
				<key>dateExpires</key>
				<string>16/03/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2BCEC93D6500AC840BFD0586240932F9228CAC60</string>
						<key>dateExpires</key>
						<string>16/03/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7SGWXBLR65</string>
						<key>name</key>
						<string>Himansu Kumar Padhan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7SGWXBLR65.channelmentor.travelgrid.nh</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7SGWXBLR65</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8a5197bc-fc64-493e-9c5e-1c2962911e0a</string>
				<key>dateExpires</key>
				<string>16/03/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: channelmentor.travelgrid.nh</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7SGWXBLR65</string>
				<key>name</key>
				<string>Himansu Kumar Padhan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
